In [3]:
import pandas as pd
import numpy as np

In [4]:
import gdown

In [5]:
gdown.download('https://bit.ly/3RhoNho', 'ns_202104.csv', quiet=False)

Downloading...
From: https://bit.ly/3RhoNho
To: c:\work\ns_202104.csv
100%|████████████████████████████████████████████████████████████████████| 57.6M/57.6M [00:06<00:00, 9.47MB/s]

'ns_202104.csv'

In [84]:
df = pd.read_csv('https://bit.ly/3RhoNho')

C:\Users\user\AppData\Local\Temp\ipykernel_10668\369920610.py:1: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://bit.ly/3RhoNho')

In [7]:
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

In [8]:
df.shape

(401682, 14)

시작:가져오고자 하는 곳

In [9]:
len(df.columns)
df.shape[1]
df.columns.size-1

13

In [10]:
df.columns[:-1]

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자'],
      dtype='object')

In [63]:
df.iloc[:,:-1].head()
df.iloc[:,:13].head()
df.iloc[:,:df.columns.size-1].head()
df.iloc[:,np.arange(13)].head()
df.loc[:,'번호':'등록일자'].head()
df.loc[:,df.columns[:-1]].head()
df.loc[:,[True]*13+[False]].head()
df.loc[:,df.columns != df.columns[-1]].head()
df.loc[:,~(df.columns == df.columns[-1])].head()
df.drop(columns = ['Unnamed: 13']).head()
df.drop(columns = df.columns[-1]).head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [85]:
df.drop(df.columns[-1],axis = 1, inplace = True)
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [13]:
df.dropna()
#null, None, NaN, na
#null == '', None == empty, NaN == Not a Number, na == Not Acceptible
pd.Series(np.array([np.nan, None, 1, 2]))
pd.DataFrame(np.array([np.nan, None, 1, 2])).isna()
pd.DataFrame(np.array([np.nan, None, 1, 2])).isnull()
pd.DataFrame(np.array([np.nan, None, 1, 2])).dropna()

   0
2  1
3  2

In [14]:
df.isna().sum()

번호              0
도서명           403
저자            201
출판사          4795
발행년도           17
ISBN            0
세트 ISBN    339811
부가기호        76648
권          333415
주제분류번호      20322
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [15]:
df.shape[0] - df.dropna().shape[0]

365855

In [16]:
df.shape[1] - df.dropna(axis=1).shape[1]

8

In [17]:
df.dropna(how='any').shape[0]

35827

In [18]:
df.dropna(how='all').shape[0]

401682

In [19]:
df.dropna(how='all',axis=1).shape[0]

401682

In [20]:
df.dropna(thresh=2).shape[0]

401682

In [86]:
## 컬럼이 na가 70% 이상인 컬럼을 지우고
## 행이 na가 20% 이상인 행을 지우고 남은 na의 갯수를 구하면?
new_df = df.drop(columns = df.columns[(df.isna().sum() / df.shape[0]) > 0.7]) #지울 컬럼 이름 찾기

In [87]:
remove_row = ((new_df.isna().sum(axis=1) / df.shape[1]) > 0.2)
remove_row

0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Length: 401682, dtype: bool

In [88]:
## 행 지우기
df = df.loc[remove_row, :]
df

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
277,278,골목의 시간을 그리다,정명섭.김효찬 지음,NaN,2021,9791191266054,NaN,NaN,NaN,NaN,1,0,2021-03-12
366,367,한국인의 맛,정명섭 지음,NaN,2021,9791155401804,NaN,NaN,NaN,NaN,1,0,2021-03-12
551,552,"한성부, 달 밝은 밤에",김이삭 지음,NaN,2021,9791163161479,NaN,NaN,NaN,NaN,1,0,2021-03-12
619,620,100일 완성 마그마 러시아어 중고급 단어장,러포자 구제 연구소 외 지음,NaN,2021,9788974829193,NaN,NaN,NaN,NaN,1,0,2021-03-12
658,659,수채 과슈로 그리는 나의 반려식물,송현미 지음,NaN,2021,9791187616986,NaN,NaN,NaN,NaN,1,0,2021-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400367,400368,아무도 모를거야 내가 누군지,김향금 글 ; 이혜리 그림,NaN,1999,9788943303483,NaN,NaN,NaN,NaN,1,0,1970-01-01
400374,400375,바람과 물,임억규,NaN,2011,9788989358855,NaN,NaN,NaN,NaN,1,0,1970-01-01
400375,400376,자기분석,L. 론 허버드,NaN,2009,9781403172662,NaN,NaN,NaN,NaN,2,0,1970-01-01
400395,400396,인천문화예술연감,인천문화재단,NaN,2010,9788992678278,NaN,NaN,2009,NaN,1,0,1970-01-01
400408,400409,걸어오길 잘했어요,전세중,NaN,2010,3000000000182,NaN,NaN,NaN,NaN,1,0,1970-01-01

In [89]:
#전체 na개수
df.isna().sum().sum()

3009

In [ ]:
# new_df = df.drop(columns = (df.columns[(df.isna().sum() / df.shape[0]) / 0.7]))
# new2_df = df.drop( rows = (new_df.isna().sum(axis=1) / df.shape[1]) > 0.2))

#데이터 추가하기
new_dic = {'column 1': [value1], 'column 2': [value2], 'column 3': [column 3], 'column 4': [column 4], ...}
new_member.index = [3] #보통 추가될 번호로
pd.DataFrame(new_dic)
pd.concat([test, new_member], axis=0)

[] -> 인덱스 번호를 넣으면 인덱스에서 찾고 컬럼 내용을 적으면 컬럼에서 찾아옴
test['성별']      type = series
test[['성별']]    type = dataframe
test[['이름','성별']]  type = dataframe
test.loc[test.성별=='남자', '박물관방문'] -= 3

인덱스 수정법
다 쓰는법, 리세팅으로 재인덱스 시키는 것
test.index = np.arange(text.shape[0])
test.setindex('이름') -> 이름이 인덱스로 가버림
이 상황에서 실제 데이터에는 이름이 안들어가게 되버림
다시 인덱스를 되돌려보내고 숫자로 다시 인덱스 시킬땐 이 상황에서
test.reset_index()를 해야

test.set_index('이름').to_csv('abc.csv', index=None)

test.loc[1:4,:] 4개
파이썬 인덱싱 [1:4] -> 1,2,3 3개
test.iloc[1:5,:] 4개

test.이름.str.slice(0,1) == '김'
test.나이 >= 28
((test.나이 >= 28) & (test.이름.str.slice(0,1) == '김'))

pd.concat([ (test.이름.str.slice(0,1) == '김'), test.나이 >= 28, ((test.나이 >= 28) & (test.이름.str.slice(0,1) == '김')) ])
test.loc[(test.나이 >= 28) & (test.이름.str.slice(0,1) == '김')["이름","성별"]]
test.iloc[(test.나이 >= 28) & (test.이름.str.slice(0,1) == '김'),[0,4]]

iloc일 때 불린값을 안받기 때문에 트루 값의 인덱스 값들을 가져와야함
arr = ((test.나이 >= 28) & (test.이름.str.slice(0,1) == '김')).value
test.iloc[arr,[0,4]]

In [90]:
test1 = pd.DataFrame(
    {
        '이름':['명하영', '조가영','강다솜'],
        '나이':[27,28,27],
        '박물관방문':[8,9,np.nan],
    }
)

In [91]:
test1

    이름  나이  박물관방문
0  명하영  27    8.0
1  조가영  28    9.0
2  강다솜  27    NaN

test = pd.concat([test,test1])

In [93]:
test1.isna()

      이름     나이  박물관방문
0  False  False  False
1  False  False  False
2  False  False   True

In [96]:
test1.loc[test1.박물관방문.isna(), '박물관방문']

2   NaN
Name: 박물관방문, dtype: float64

In [97]:
test1.loc[test1.박물관방문.isna(), '박물관방문'] = 20

In [98]:
test1

    이름  나이  박물관방문
0  명하영  27    8.0
1  조가영  28    9.0
2  강다솜  27   20.0

In [102]:
test1.loc[0,'박물관방문'] = np.nan
test1

    이름  나이  박물관방문
0  명하영  27    NaN
1  조가영  28    9.0
2  강다솜  27   20.0

In [105]:
test1.박물관방문.mean()

14.5

In [108]:
test1.박물관방문.fillna(test1.박물관방문.mean(),inplace=True)

tmp= pd.DataFrame(np.vstack([test.values,np.array(['이강욱',43,100,100/43,'남자'])]))
tmp.columns = test.columns
tmp.loc[tmp.이름=='이강욱', :]
tmp.drop([9],axis=0)

In [121]:
x = np.random.randint(50,100,1000000000)

In [118]:
#90 이상은 A
#80~90 'B'
#70~80 'C'
# ~70 'D'

In [122]:
score = []
for i in x:
    if i >= 90:
        score.append('A')
    elif 80 <= i:
        score.append('B')
    elif 70 <= i:
        score.append('C')
    else:
        score.append('D')

KeyboardInterrupt

In [123]:
len(score)

749485307

In [126]:
np.where(x >= 90,'A',
        np.where(x >= 80,'B',
                np.where(x>=70,'C','D')))

array(['D', 'D', 'C', ..., 'B', 'A', 'D'], dtype='<U1')