In [2]:
import numpy as np
import pandas as pd

In [7]:
np.random.seed(10)
x = np.random.randint(5,10,7)

In [19]:
#fancy indexing
x[0]
x[0:3]
x[[0,2,2,2,3,3,3,3]]
#boolean indexing
x[[False,True,False,False,True,True,False]]
x[x >= 8]

array([9, 8, 9])

In [21]:
x=np.random.randint(3,10,size=(4,2))

In [26]:
x[2,1]

3

In [29]:
df = pd.read_csv('ns_202104.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_5204\2419830985.py:1: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ns_202104.csv')

In [30]:
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

In [32]:
df.loc[df.index % 2 == 0,['저자','출판사','발행년도']].head()

                  저자           출판사  발행년도
0             김동훈 지음           민음사  2021
2             김선영 지음          블랙피쉬  2021
4             김성곤 지음           김영사  2021
6  아르센 벵거 지음, 이성모 옮김  한즈미디어(한스미디어)  2021
8           제레미 강 지음          위키북스  2021

In [35]:
df.iloc[::2,2:5].head()

                  저자           출판사  발행년도
0             김동훈 지음           민음사  2021
2             김선영 지음          블랙피쉬  2021
4             김성곤 지음           김영사  2021
6  아르센 벵거 지음, 이성모 옮김  한즈미디어(한스미디어)  2021
8           제레미 강 지음          위키북스  2021

In [36]:
df1 = df.reset_index()

In [39]:
df1.rename(columns={'index':'index1'}, inplace=True)

In [41]:
df1.iloc[(df1.index1 % 2 ==0).values,2:5]

                                        도서명                 저자           출판사
0                                   인공지능과 흙             김동훈 지음           민음사
2                     나도 한 문장 잘 쓰면 바랄 게 없겠네             김선영 지음          블랙피쉬
4                     김성곤의 중국한시기행 : 장강·황하 편             김성곤 지음           김영사
6       아르센 벵거 자서전 My Life in Red and White  아르센 벵거 지음, 이성모 옮김  한즈미디어(한스미디어)
8                          일잘러의 노션 100% 활용법           제레미 강 지음          위키북스
...                                     ...                ...           ...
401672                  미애와 루이, 318일간의 버스여행   최미애 글;장 루이 볼프 사진            자인
401674                            음악이 있는 풍경             김정환 지음        이론과 실천
401676                                  큰오빠             박정근 지음         우리문학사
401678                                뉴 웨이브         제임스 모나코 지음           한나래
401680                         독일 문학과 세계 문학             吳漢鎭 編著            벽호

[200841 rows x 3 columns]

In [45]:
df.loc[:,df.columns=='발행년도']

        발행년도
0       2021
1       2021
2       2021
3       2021
4       2021
...      ...
401677  1996
401678  1996
401679  1994
401680  1995
401681  1995

[401682 rows x 1 columns]