In [3]:
import pandas as pd
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt

In [8]:
mydata = pd.read_csv('C:/Users/user/Desktop/python_total/data_regression.csv')

In [10]:
print(mydata.head())

         TM  CA_TOT  SS_DAY
0  20150101     3.4     7.8
1  20150102     3.1     7.1
2  20150103     3.7     5.8
3  20150104     3.1     6.2
4  20150105     6.5     5.1

In [14]:
mydata.loc[mydata['SS_DAY'] == -9]

           TM  CA_TOT  SS_DAY
139  20150520     0.5    -9.0

In [15]:
mydata.loc[(mydata['SS_DAY'] != -9) & (mydata['CA_TOT'] == 0.5)]

           TM  CA_TOT  SS_DAY
64   20150306     0.5    10.0
100  20150411     0.5    11.4

In [16]:
mydata.loc[mydata['SS_DAY'] == -9, 'SS_DAY'] = 10.7

In [18]:
result = sm.ols(formula = 'SS_DAY ~ CA_TOT',data=mydata).fit()

In [21]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 SS_DAY   R-squared:                       0.674
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     749.0
Date:                Mon, 06 Nov 2023   Prob (F-statistic):           2.88e-90
Time:                        17:28:52   Log-Likelihood:                -827.45
No. Observations:                 365   AIC:                             1659.
Df Residuals:                     363   BIC:                             1667.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.2217      0.238     51.347      0.000      11.754      12.690
CA_TOT        -1.0953      0.040    -27.369      0.000      -1.174      -1.017
==============================================================================
Omnibus:                       16.488   Durbin-Watson:                   1.191
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.529
Skew:                           0.482   Prob(JB):                     0.000258
Kurtosis:                       2.605   Cond. No.                         11.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.