In [113]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup

In [155]:
bsu='https://www.yna.co.kr/industry/technology-science/'
num=0
links=[]
yna=pd.DataFrame(columns=['Title','Text'])
for num in range(20):
    url = bsu+str(num+1)
    html = urlopen(url)
    bs = soup(html.read(),'html.parser')
    atic_page = bs.find('div', attrs={'class':'list-type038'})
    atic_list = atic_page.find_all('a', attrs={'class':"tit-wrap"})
    for i in range(len(atic_list)):
        links.append(atic_list[i].attrs['href'][2:])

In [162]:
for article in links:
    html = urlopen('https://'+article)
    bs = soup(html.read(),'html.parser')
    title = bs.find('h1', attrs={'class':'tit'}).text
    print(title,'기사를 처리중입니다.')
    detail = ''
    for i in bs.select('article > p'):
        detail += (i.text+'\n')
    yna2 = pd.DataFrame({'Title' = [title],'Text' = detail})

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1807097116.py, line 11)

In [157]:
yna

,Title,Text
Title,"[게시판] 넥슨-현대카드, '데이브 더 다이버' 협업 이벤트","[게시판] 넥슨-현대카드, '데이브 더 다이버' 협업 이벤트"
Text,▲ 넥슨은 현대카드와 패키지 게임 '데이브 더 다이버' 협업 이벤트를 실시한다고 ...,▲ 넥슨은 현대카드와 패키지 게임 '데이브 더 다이버' 협업 이벤트를 실시한다고 ...